@model CarRental.Models.Car
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car Details</h2>

<ul>
    <li>Make: @Model.Name</li>
    <li>Model: @Model.CarModel.Name</li>
    <li>Year: @Model.Year</li>
    <li>Miles: @Model.Miles</li>
    <li>Color: @Model.Color</li>
    <li>Title Number: @Model.TitleNumber</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>


